.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & > a {
        width: 30px;
        height: 30px;
        background-color: rgba(216, 216, 216, 0.658);
        border-radius: 50px;

        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 13px;

        &.active {
            background-color: rgb(117, 211, 255);
        }
    }
}